################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HackerNews/bin/Debug/netcoreapp2.2
/HackerNews/.vs/HackerNews
/HackerNews/obj
